@model IEnumerable<FileSharingApp.Models.FileClass>
    @{
        ViewData["Title"] = "Добавление файла";
    }
    <h3>Выберите файл для загрузки</h3>
    <form asp-action="AddFile" asp-controller="Upload" method="post" enctype="multipart/form-data">
        <h4>Краткое описание</h4>
        <input type="text" name="shortDescription" />
        <br />
        <h4>Длинное описание</h4>
        <textarea name="longDescription">
        </textarea>
        <br />
        <input type="file" name="uploadedFile" /><br>
        <input type="submit" value="Загрузить" />
    </form>
